* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
section h2,
section h3,
form button {
    font-family: 'Rock Salt', cursive;
    font-weight: bolder;
}

body, input, textarea {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

header {
    padding: 16px 0;
    background-color: #410101;
    color: #fff;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 16px;
}

header nav li a {
    color: #fff;
    text-decoration: none;
}

.container {
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brands-list img {
    height: 36px;
}

.brands-list li {
    display: inline;
    margin-right: 24px;
}

section .container {
    align-items: flex-start;
}

section{
    padding: 24px 0;
}

section h2 {
    margin-bottom: 16px;
}

section {
    color: #410101;
}

section p {
    margin-bottom: 8px;
}

.store-front {
    margin-right: 32px;
}

.social-links img {
    height: 24px;
}

.motocicletas {
    display: flex;
}

.moto {
    margin-right: 20px;
    margin-top: 36px;
    text-align: center;
}

.moto img {
    max-width: 100%;
}

.social-links li {
    display: inline;
    margin-right: 10px;
}

.social-links li a {
    text-decoration: none;
}

#contact .container {
    display: block;
}

.contact-methods {
    display: flex;
    justify-content: space-between;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none;
    height: 180px;
}

section h3 {
    margin-bottom: 16px;
}

form button {
    background-color: #410101;
    color: #fff;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #990f0f;
}

input:focus, textarea:focus {
    outline-color: #410101;
}

footer {
    background-color: #410101;
    color: #fff;
    padding: 16px 0;
}

#about {
    background-color: #a59898;
}

#novas {
    background-color: rgb(148, 128, 102);
}

#contact {
    background-color: rgb(204, 122, 21);
}